{% extends './navbar.html' %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block content %}

<div class="about-section">
    
    <div class="about-box">
        <div class="about-text">
            <h2>About US</h2>
            <p>
                At UAE Packaging & Printing Services, we provide high-quality, custom printing and packaging solutions that enhance your brand. With years of experience and a focus on excellence, we deliver impactful designs, durable products, and reliable service to clients across the UAE, Qatar, Oman, Saudi Arabia, and beyond.
            </p>
            
            <button class="button">More About Us</button>
        </div>
        <img src="{% static 'eyelash1.jpg' %}" alt="Service Image" class="about-image">
        
    </div>
    
    
    
</div>

{% endblock %}
